body {
  font-family: 'Lato', sans-serif;
  color: #747573;
}

table {
  border: 0;
  width: 600px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px #bbb;
}

.left {
  width: 25%;
  /* display: table-cell; */
  vertical-align: middle;
}

.logo {
  float: right;
  width: 100px;
  top: 0;
  margin: 10px;
}

img {
  border-radius: 50%;
  max-width: 100%;
  border: 1px solid rgb(232, 191, 115);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

td {
  width: 75%;
  vertical-align: top;
  padding-left: 30px;
}

h1 {
  font-size: 25px;
  font-family: 'Lato',
    sans-serif;
  color: #333333;

}

h4 {
  margin: 10px 0px 20px;
  border-bottom: 1px solid rgb(232, 191, 115);
  ;
  color: #747573;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 8px;
}

p {
  margin: 10px 0px;
  color: #747573;
  letter-spacing: .5px;
}

.icons > a img {
  border: none;
    
  
}
p>a {
  text-decoration: none;

}

.fas {
  max-width: 18px;
  vertical-align: middle;
  padding-right: 10px;
}

.fab {
  max-width: 18px;
  vertical-align: middle;
  /* padding-right: 10px; */
  padding: 10px 0px 10px 10px;
  font-size: 25px;
  color: rgb(210, 161, 69);
  ;
}

a {
  color: #747573;
  padding-right: 10px;

}

a:visited {
  color: #747573;
}

.icons {
  display: flex;
}